{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}


{% block fos_user_content %}

    <div class="container" style="text-align: center; margin-top: 100px;">

        <h3>{{ rss_feed_title }}</h3>
    {% if error %}
        <div class="alert alert-danger"  style="width: 50%; display: block;margin-right: auto;margin-left: auto;" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

        <form action="{{ path("fos_user_security_check") }}" method="post" >
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <div class="form-group">
                <label for="username">{{ 'security.login.username'|trans }}</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
            </div>

            <div class="form-group">
                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input type="password" id="password" name="_password" required="required" />
            </div>

            <div class="checkbox">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
            </div>

            <input type="submit"
                   class="btn btn-info"
                   id="_submit"
                   name="_submit"
                   value="{{ 'security.login.submit'|trans }}" />
            <br/><br/>
            <a href="{{ path('feeds') }}">Go back to feeds</a>
        </form>
    </div>
{% endblock fos_user_content %}