{% extends 'base.html.twig' %}

{% block title %}Articles index{% endblock %}

{% block content %}
    {% include 'nav.html.twig' %}
    <h1>Articles</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>User</th>
                <th>Title</th>
                <th>Description</th>
                <th>Link</th>
                <th>Category</th>
                <th>Guid</th>
                <th>Pubdate</th>
                <th>Keywords</th>
                <th>Creator</th>
                <th>Modified</th>
                <th>Thumbnail_url</th>
                <th>Source</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.user }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.description }}</td>
                <td><a href='{{ article.link }}' target="_blank">{{ article.link }}</a></td>
                <td>{{ article.category }}</td>
                <td><a href='{{ article.guid }}' target="_blank">{{ article.guid }}</a></td>
                <td>{{ article.pubdate ? article.pubdate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ article.keywords ? article.keywords|join(', ') : '' }}</td>
                <td>{{ article.creator }}</td>
                <td>{{ article.modified ? article.modified|date('Y-m-d H:i:s') : '' }}</td>
                <td><a href='{{ article.thumbnailUrl }}' target="_blank">{{ article.thumbnailUrl }}</a></td>
                <td><a href='{{ article.source }}' target="_blank">{{ article.source }}</a></td>
                <td>
                    <a class = "tab" href="{{ path('articles_show', {'id': article.id}) }}">Show</a>
                    <a class = "tab" href="{{ path('articles_edit', {'id': article.id}) }}">Edit</a>
                    {{ include('articles/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="tab" href="{{ path('homepage') }}">Home</a>
    <a class="tab" href="{{ path('articles_new') }}">Create new</a>
{% endblock %}
