{% extends 'base.html.twig' %}

{% block title %}Articles index{% endblock %}


{% block content %}
    {% include 'nav.html.twig' %}
    <h1>URL to post</h1>

    <h3>Copy/paste this URL into the Custom Sharing section of Fedilab app Settings</h3>
    <code>{{ url }}</code> <button id="copy_content" class="btn btn-light">Copy URL</button>
    <br/><br/>

    <form method="post" action="{{ path('regenerate_token')}}" onsubmit="return confirm('Are you sure you want to regenerate a token?');">
        <input type="hidden" name="_method" value="POST">
        <input type="hidden" name="_token" value="{{ csrf_token('regenerate') }}">
        <button class="btn btn-danger">Regenerate a token</button>
    </form>

    <br/>
    <a href="{{ path('articles_index') }}" class="btn btn-link">See articles</a>
    <input type="hidden" value="{{ url }}" id="sharing_url"/>


{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $('#copy_content').on('click', function(e) {
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val($("#sharing_url").val()).select();
            document.execCommand("copy");
            $temp.remove();
        });
    </script>
{% endblock %}