{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block content %}
    {% include 'nav.html.twig' %}
    <h1>Articles</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>User</th>
                <td>{{ article.user }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ article.description }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td><a href='{{ article.link }}' target="_blank">{{ article.link }}</a></td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ article.category }}</td>
            </tr>
            <tr>
                <th>Guid</th>
                <td><a href='{{ article.guid }}' target="_blank">{{ article.guid }}</a></td>
            </tr>
            <tr>
                <th>Pubdate</th>
                <td>{{ article.pubdate ? article.pubdate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Keywords</th>
                <td>{{ article.keywords ? article.keywords|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>Creator</th>
                <td>{{ article.creator }}</td>
            </tr>
            <tr>
                <th>Modified</th>
                <td>{{ article.modified ? article.modified|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Thumbnail_url</th>
                <td><a href='{{ article.thumbnailUrl }}' target="_blank">{{ article.thumbnailUrl }}</a></td>
            </tr>
            <tr>
                <th>Source</th>
                <td><a href='{{ article.source }}' target="_blank">{{ article.source }}</a></td>
            </tr>
        </tbody>
    </table>

    <a class="tab" href="{{ path('articles_index') }}">Back to list</a>

    <a class="tab" href="{{ path('articles_edit', {'id': article.id}) }}">Edit</a>

    {{ include('articles/_delete_form.html.twig') }}
{% endblock %}
