<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
        <a class="navbar-brand" href="#">{{ rss_feed_title }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if app.request.attributes.get('_route') == 'homepage' %} active {% endif %}">
                    <a class="nav-link" href="{{ path('homepage') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {% if "articles" in app.request.attributes.get('_route') %} active {% endif %}">
                    <a class="nav-link" href="{{ path('articles_index') }}">Manage feeds</a>
                </li>
                <li class="nav-item {% if app.request.attributes.get('_route') == 'feeds' %} active {% endif %}">
                    <a class="nav-link" href="{{ path('feeds') }}">Feeds</a>
                </li>
                <li class="nav-item {% if "users" in app.request.attributes.get('_route') %} active {% endif %}">
                    <a class="nav-link" href="{{ path('user_index') }}">Manage Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('fos_user_security_logout') }}" tabindex="-1" >Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>