{% extends 'base.html.twig' %}

{% block title %}Users index{% endblock %}

{% block content %}
    {% include 'nav.html.twig' %}
    <h1>Users</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>User</th>
                <th>Password</th>
                <th>Role</th>
                <th>Token</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.confirmationToken }}</td>
                <td>
                    <a class = "tab" href="{{ path('user_show', {'id': user.id}) }}">Show</a>
                    <a class = "tab" href="{{ path('user_edit', {'id': user.id}) }}">Edit</a>
                    <button id="copy_content" class="btn btn-light">Copy Token</button>
                    <input type="hidden" value="{{ user.confirmationToken }}" id="sharing_token"/>
                    {{ include('users/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="tab" href="{{ path('homepage') }}">Home</a>
    <a class="tab" href="{{ path('user_new') }}">Create new</a>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $('#copy_content').on('click', function(e) {
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val($("#sharing_token").val()).select();
            document.execCommand("copy");
            $temp.remove();
        });
    </script>
{% endblock %}
